body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  position: relative;
  text-align: center;
  width: 550px;
  flex: 1 0 auto;
  margin: 0 auto;
}

@media screen and (max-width: 550px) {
  main {
    width: auto;
  }
}

ul.dropdown-content.select-dropdown li:not(.disabled) span {
  color: #2196f3;
}

#car-card {
  text-align: left;
  display: none;
}

#car-card table {
  width: 100%;
}

#car-card table td {
  vertical-align: top;
}

button {
  margin-bottom: 100px;
}
